/* Basic styles for the chatbot icon and chat box */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Chatbot icon: Circle form in the center of the screen */
.bot-circle {
  width: 200px;
  height: 200px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
} 
  
/* Move and shrink the icon when chat box is opened */
.bot-circle.move-to-right {
  left: 75%;
  transform: translateX(-100%) translateY(-50%);
}

.bot-circle.shrink {
  width: 40px;
  height: 40px;
}

.bot-circle.move-to-center {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.bot-circle.grow {
  width: 60px;
  height: 60px;
}

.bot-circle img {
  width: 80px;
  height: 80px;
}

/* Chat Box */
#chatBox {
  position: fixed;
  bottom: 80px;
  left: 0;
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

#chatBox.open {
  display: flex;
}

/* Chat messages */
.user-message,
.bot-message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}

.user-message {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.bot-message {
  background-color: #f1f1f1;
  align-self: flex-start;
}

/* Input Container */
.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%; /* Take full width of the bottom */
  background: white;
  display: flex;
  padding: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.input-container input {
  flex: 1; /* Take most of the space */
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; /* Space between input and button */
}

.input-container button:hover {
  background-color: #0056b3;
}
 
.popup-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 15px;
  border-radius: 50px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
